.notes img{
	height: 1em;
	padding: 0 2em;
}
tr.notes>th>span{
  cursor:pointer;
}

.notes dl{
	width: 100%;
	padding: 0;
	margin: 0;
}
.notes dl>dt{
	float: left;
	width: 6em;
	padding: 0;
	margin: 0;
}
.notes dl>dd{
	float: left;
	width: calc( 100% - 6em );
	padding: 0;
	margin: 0;
}